#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  width: 306px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container div {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid blueviolet;
  color: #333;
  font-size: 4rem;
  cursor: pointer;
}

.container div.active {
  background-color: blueviolet;
  color: #fff;
}

.display {
  font-size: 1.5rem;
  min-height: 75px;
}
